<% provide(:title, "Home") %>

<h1>PhotoSharer</h1>
<div class="container">
  <div class="row">
    <% @images.each do |image| %>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <%= link_to(image) do %>
              <img class="image_restrictions" src="<%= image.link %>">
              <p class="center"><%= image.user_name %></p>
          <% end %>
        </div>
    <% end %>
  </div>
</div>
