<header class = "navbar navbar-fixed-top navbar-inverse">
  <div class = "container">
    <nav>
      <%= link_to "PhotoSharer", root_path, id: "logo" %>
      <ul class = "nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Add Image", new_path %></li>
        <li><%= link_to 'Log In', '#' %></li>
      </ul>
    </nav>
  </div>
</header>
