<header class = "navbar navbar-fixed-top navbar-inverse">
  <nav>
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "PhotoSharer", root_path, id: "logo" %>
      </div>

      <div class = "collapse navbar-collapse" id = "#myNavbar">
        <ul class = "nav navbar-nav navbar-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Add Image", new_image_path %></li>
          <li><%= link_to 'Log In', '#' %></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
